// Navigation Styles here

header {
  border: 2px solid green;
  margin-bottom: 0;
  border-bottom: 2px dashed @navigation-border;
  .displayFlex(center, center);

  .navigation {
    border: 2px solid black;
    max-width: 800px;
    width: 100%;
    .displayFlex(space-between, center);

    .logo-container {
      border: 1px solid black;
      width: 30%;
    } //logo-container ends here

    nav {
      border: 1px solid black;
      width: 50%;
      .displayFlex(space-between, center);

      a {
        font-size: 1.5rem;
        color: @font-color;
        font-weight: 700;
      }
    } //nav ends here
  } //navigation closes here
} //header closes here
