// Navigation Styles here

header {
  margin-bottom: 0;
  border-bottom: 2px dashed @navigation-border;
  .displayFlex(center, center);

  .navigation {
    max-width: 800px;
    width: 75%;
    .displayFlex(space-between, center);

    //media queries
    @media @mobile {
      flex-direction: column;
      max-width: 450px;
      width: 100%;
    }

    .logo-container {
      min-width: 150px;
      width: 40%;

      @media @mobile {
        width: 60%;
        text-align: center;
        margin-bottom: 2%;
      }
    } //logo-container ends here

    nav {
      width: 50%;
      .displayFlex(space-between, center);
      min-width: 250px;

      @media @mobile {
        width: 100%;
        .displayFlex(space-evenly, center);
        margin-bottom: 2%;
      }

      a {
        font-size: 1.5rem;
        color: @font-color;
        font-weight: 700;
        text-decoration: none;
      }
    } //nav ends here
  } //navigation closes here
} //header closes here
